USE [master]
GO
/****** Object:  Database [QLTLX]    Script Date: 5/3/2018 8:13:48 AM ******/
CREATE DATABASE [QLTLX]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLTLX', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.TRUNG\MSSQL\DATA\QLTLX.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLTLX_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.TRUNG\MSSQL\DATA\QLTLX_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLTLX].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLTLX]
GO
/****** Object:  Table [dbo].[Cauhoidethi]    Script Date: 5/3/2018 8:13:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cauhoidethi](
	[macauhoi] [nchar](10) NOT NULL,
	[cauhoi] [nvarchar](50) NULL,
	[cau a] [nvarchar](50) NULL,
	[cau b] [nvarchar](50) NULL,
	[cau c] [nvarchar](50) NULL,
	[cau d] [nvarchar](50) NULL,
	[dapan] [nvarchar](50) NULL,
	[maloaicauhoi] [nchar](10) NULL,
 CONSTRAINT [PK_Cauhoidethi_1] PRIMARY KEY CLUSTERED 
(
	[macauhoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Dethi]    Script Date: 5/3/2018 8:13:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dethi](
	[madethi] [nchar](10) NOT NULL,
	[maloaicauhoi] [nchar](10) NULL,
	[macauhoi] [nchar](10) NULL,
 CONSTRAINT [PK_Dethi_1] PRIMARY KEY CLUSTERED 
(
	[madethi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Dotthi]    Script Date: 5/3/2018 8:13:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dotthi](
	[madoithi] [nchar](10) NOT NULL,
	[madethi] [nchar](10) NULL,
 CONSTRAINT [PK_Dotthi] PRIMARY KEY CLUSTERED 
(
	[madoithi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 5/3/2018 8:13:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[TenDangnhap] [nvarchar](30) NOT NULL,
	[MaTS] [nchar](10) NULL,
	[MatKhau] [nvarchar](20) NULL,
	[NgaySinh] [nchar](20) NULL,
	[GioiTinh] [nvarchar](5) NULL,
	[Quyen] [nchar](20) NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[TenDangnhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TaiKhoanDN]    Script Date: 5/3/2018 8:13:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoanDN](
	[MaTS] [nchar](10) NOT NULL,
	[TenDangnhap] [nvarchar](30) NULL,
	[Matkhau] [nvarchar](20) NULL,
	[NgaySinh] [nchar](20) NULL,
	[GioiTinh] [nvarchar](5) NULL,
	[Quyen] [nchar](20) NULL,
 CONSTRAINT [PK_TaiKhoanDN] PRIMARY KEY CLUSTERED 
(
	[MaTS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbBaitraloi]    Script Date: 5/3/2018 8:13:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbBaitraloi](
	[MaTS] [nchar](10) NULL,
	[macauhoi] [nchar](10) NOT NULL,
	[madoithi] [nchar](10) NOT NULL,
	[cautraloi] [nvarchar](50) NULL,
	[IDtraloi] [int] IDENTITY(1,1) NOT NULL,
	[Chamcau] [nchar](10) NULL,
	[Socaudung] [nchar](10) NULL,
	[Ketqua] [nchar](10) NULL,
 CONSTRAINT [PK_tbBaitraloi] PRIMARY KEY CLUSTERED 
(
	[IDtraloi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbCAUHOI]    Script Date: 5/3/2018 8:13:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbCAUHOI](
	[macauhoi] [nchar](10) NOT NULL,
	[cauhoi] [nvarchar](max) NULL,
	[cau a] [nvarchar](max) NULL,
	[cau b] [nvarchar](max) NULL,
	[cau c] [nvarchar](max) NULL,
	[cau d] [nvarchar](max) NULL,
	[dapan] [nchar](10) NULL,
	[maloaicauhoi] [nchar](10) NULL,
 CONSTRAINT [PK_tbCAUHOI] PRIMARY KEY CLUSTERED 
(
	[macauhoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbTraloi]    Script Date: 5/3/2018 8:13:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbTraloi](
	[MaTS] [nchar](10) NOT NULL,
	[madoithi] [nchar](10) NOT NULL,
	[macauhoi] [nchar](10) NOT NULL,
	[cautraloi] [nvarchar](50) NULL,
 CONSTRAINT [PK_tbTraloi_1] PRIMARY KEY CLUSTERED 
(
	[madoithi] ASC,
	[macauhoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Dethi]  WITH CHECK ADD  CONSTRAINT [FK_Dethi_Cauhoidethi] FOREIGN KEY([macauhoi])
REFERENCES [dbo].[Cauhoidethi] ([macauhoi])
GO
ALTER TABLE [dbo].[Dethi] CHECK CONSTRAINT [FK_Dethi_Cauhoidethi]
GO
ALTER TABLE [dbo].[Dethi]  WITH CHECK ADD  CONSTRAINT [FK_Dethi_tbCAUHOI] FOREIGN KEY([macauhoi])
REFERENCES [dbo].[tbCAUHOI] ([macauhoi])
GO
ALTER TABLE [dbo].[Dethi] CHECK CONSTRAINT [FK_Dethi_tbCAUHOI]
GO
ALTER TABLE [dbo].[Dotthi]  WITH CHECK ADD  CONSTRAINT [FK_Dotthi_Dethi] FOREIGN KEY([madethi])
REFERENCES [dbo].[Dethi] ([madethi])
GO
ALTER TABLE [dbo].[Dotthi] CHECK CONSTRAINT [FK_Dotthi_Dethi]
GO
ALTER TABLE [dbo].[tbBaitraloi]  WITH CHECK ADD  CONSTRAINT [FK_tbBaitraloi_Dotthi1] FOREIGN KEY([madoithi])
REFERENCES [dbo].[Dotthi] ([madoithi])
GO
ALTER TABLE [dbo].[tbBaitraloi] CHECK CONSTRAINT [FK_tbBaitraloi_Dotthi1]
GO
ALTER TABLE [dbo].[tbBaitraloi]  WITH CHECK ADD  CONSTRAINT [FK_tbBaitraloi_TaiKhoanDN] FOREIGN KEY([MaTS])
REFERENCES [dbo].[TaiKhoanDN] ([MaTS])
GO
ALTER TABLE [dbo].[tbBaitraloi] CHECK CONSTRAINT [FK_tbBaitraloi_TaiKhoanDN]
GO
ALTER TABLE [dbo].[tbTraloi]  WITH CHECK ADD  CONSTRAINT [FK_tbTraloi_Dotthi] FOREIGN KEY([madoithi])
REFERENCES [dbo].[Dotthi] ([madoithi])
GO
ALTER TABLE [dbo].[tbTraloi] CHECK CONSTRAINT [FK_tbTraloi_Dotthi]
GO
USE [master]
GO
